<div class="mb-3 m-3">
  <label for="basic-url" class="form-label">Filtrar por nombre o posicion</label>
  <div class="input-group">
    <input
        type="text"
        class="forms-control"
        placeholder="Dr..."
        [(ngModel)]="playerFilter"
        name="filter"
        width="300px"
        autofocus
      />
  </div>
</div>
<div class="d-flex p-2 pt-0">
  <div class="p-1">
    <ol class="list-group">
      <li
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
        *ngFor="let jugador of jugadores | filter:playerFilter"
        (click)="onSelect(jugador)"
        [ngClass]="{'active': selectedJugador == jugador}"
      >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{jugador.nombre}}</div>
          Altura: {{jugador.altura}} | Posición: {{jugador.posicion}}
        </div>
        <span class="badge bg-primary rounded-pill">{{jugador.id}}</span>
      </li>
    </ol>
  </div>
  <div class="p-2">
    <app-detalle *ngIf="selectedJugador" [jugador]="selectedJugador"></app-detalle>
  </div>
</div>
<router-outlet></router-outlet>
